<div class="example-header">
  <mat-form-field>
    <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)" required>
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dailyContainer" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header> location </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="tornadoLvl">
      <mat-header-cell *matHeaderCellDef mat-sort-header> tornadoLvl </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tornadoLvl}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="dailyHeaders"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dailyHeaders;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
